@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 90vw;
  margin: 0 auto;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.navbar {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  align-items: center;
  border-bottom: 1px solid black;
}
.navbar .navbar-logo {
  display: flex;
  align-items: center;
}
.navbar .navbar-links {
  width: 50%;
  text-align: right;
}
.navbar img {
  height: 50px;
  width: auto;
  margin-right: 1rem;
}
.navbar a {
  margin-left: 3rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  margin: 1rem 0;
}
.banner .image {
  height: 100%;
  border-radius: 2px;
  width: 23%;
  box-shadow: var(--shadow);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: height 0.5s ease-in-out;
}
.banner .one {
  background-image: url(../resources/images/one.jpg);
}
.banner .two {
  background-image: url(../resources/images/two.jpg);
}
.banner .three {
  background-image: url(../resources/images/three.jpg);
}
.banner .four {
  background-image: url(../resources/images/four.jpg);
}

.header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header h1 {
  margin-bottom: 1rem;
}

.content {
  position: relative;
}
.content .content-block {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.content .content-header {
  font-weight: 700;
  margin-bottom: 2rem;
}
.content .content-text {
  text-align: justify;
  width: 70%;
  line-height: 1.5;
}

.portfolio {
  border-bottom: none !important;
}

.content-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.contact {
  border: 1px solid black;
  z-index: 3;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  transition: background-color 0.5s ease;
}
.contact:hover {
  cursor: pointer;
}

.contact-form {
  display: none;
  background-image: url(../resources/svgs/contact.svg);
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

.form {
  padding: 2rem;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-width: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}
.form input,
.form textarea,
.form select {
  padding: 0 !important;
  margin-left: 1rem;
  width: 75%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
}
.form textarea {
  resize: none;
  height: 10rem;
}
.form textarea::-webkit-scrollbar {
  width: 2px;
}
.form textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
.form textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  opacity: 0.5;
}
.form label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  width: 25%;
}
.form #area-label {
  align-items: flex-start;
}
.form .form-row {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.form .form-button {
  border-radius: 0px 10px 0px 10px;
  padding: 1rem 1.25rem;
  background-color: white;
  font-size: 1.5rem;
  width: fit-content;
  transition: all 0.2s ease;
  position: relative;
  border: none;
}
.form .form-button:hover {
  cursor: pointer;
}
.form #close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.draw {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 30s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.footer {
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.footer .footer-logo {
  margin: 1rem 5rem 1rem 0;
}
.footer .links-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0rem 1rem;
}

@media only screen and (max-width: 600px) {
  .form .form-row {
    display: block;
  }
  .form input {
    margin-left: 0;
    width: 100%;
  }
  .form label {
    margin-bottom: 1rem;
  }
  .banner {
    flex-direction: column;
  }
  .banner .image {
    height: 23%;
    width: 100%;
  }
  .header h1 {
    font-size: 3rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  .content .content-block {
    flex-direction: column;
    width: 100%;
  }
  .content .content-text {
    width: 100%;
  }
  .content .content-list {
    text-align: center;
  }
}
:root {
  --shadow: 8px 8px 7px #00000024;
}
