.circles-svg {
  max-width: 100%;
  height: auto;
  position: absolute;
  filter: drop-shadow(18px 25px 8px black)
}

.circles-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(1) contrast(3) brightness(1.2) invert(1) saturate(0);
}

.elipse-1 {
  transition: box-shadow 0.1s ease;
  background-color: transparent;
  width: 100%;
  height: 20%;
  border-radius: 50%;
  background-color: transparent;
  object-fit: cover;
}

.second {
  margin-left: 0;
  margin-right: auto;
  width: 60%;
}

.title {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-header {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  margin: 0 0 1rem 0;
  font-weight: 900;
}

.service-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: justify;
}

.box {
  width: 100%;
  height: 100%;
}

.service {
  flex: 1;
  max-width: 1000px;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 3px black;
  margin-right: 2rem;
  background-color: white;
}

.service button {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  align-self: flex-start;
}

.service button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.bites {
  width: 50%;
}

.text-svg {
  width: 100%;
}

.new {
  font-size: 8px;
  font-family: 'Unbounded', sans-serif;
  color: black;
}

.services {
  position: relative;
  display: flex;
}

.services svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.me {
  height: 100%;
  filter: drop-shadow(40px 30px 10px black);
}

.newone {
  position: absolute;
  height: 100%;
  right: 0%;
  z-index: -1;
}

.shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: inset 40px 55px 110px black;
}

.title span {
  font-family: 'Unbounded', sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3rem;
}

.title-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.services-title {
  margin: 0rem 1.5rem 0rem 2rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.letter {
  font-weight: 900;
  font-size: 7rem;
  font-family: 'Unbounded', sans-serif;
  transform-origin: top-left;
  letter-spacing: 15px;
}


.service-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 2rem 5rem 0rem;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
