.section-two {
  height: 100vh;
  position: relative;
}

.background-2 {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  scroll-snap-type: y mandatory;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.elipse-1 {
  transition: box-shadow 0.1s ease;
  background-color: transparent;
  width: 100%;
  height: 20%;
  border-radius: 50%;
}

.service-select {
  width: 80%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: white;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top:50%;
  left: 20%;
  transform: translateY(-50%);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  overflow: scroll;
}


.service-text {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}


.reveal {
  transform: translateX(100%) translateY(-50%)
}

.hide {
  transform: translateX(-100%);
  z-index: -2;
}


.strikethrough {
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform-origin: top;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active {
  opacity: 0.2;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 1s ease-in-out, transform 0.3s ease-in-out;
}
