.banner {
  height: 100vh;
  overflow: clip;
}

.header-div {
  position: relative;
  height: 100%;
}

.header {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(0%, -100%);
  white-space: nowrap;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.25;
  font-size: 12vw;
  font-family: 'Unbounded', sans-serif;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.417);
}

.banner-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 1rem 0 1rem;
}

.banner-button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}


.services {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 1rem;
  opacity: 0;
  height: 80vh;
}

.services-background {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  color: white;
}

.services-header {
  background-color: blue;
  padding: 1rem;
  position: absolute;
  height: 50%;
  width: 60%;
  top: 30%;
  left: 40%;
  text-align: right;
}

.box-container {
  height: 500px;
  width: 500px;
  margin: auto;
  position: relative;
  background-color: antiquewhite;
}
