.banner {
  height: 100vh;
}

.header {
  text-align: center;
  line-height: 1.25;
  font-size: 10vw;
  font-family: 'Unbounded', sans-serif;
}

.header-shadow {
  position: absolute;
  color: aquamarine;
  opacity: 0.4;
  text-align: center;
  line-height: 1.25;
  font-size: 10vw;
  font-family: 'Unbounded', sans-serif;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 1rem 0 1rem;
}

.banner-button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}


.services {
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service {
  width: 20vh;
}
