.footer {
  position: relative;
}


.footer-logo {
  border: 4px solid white;
}


.footer-content {
  position: absolute;
  width: 100%;
  top: 55%;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*
body {
  overflow: hidden;
} */
