.footer {
  position: relative;
  background-image: url(../../images/svgs/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.footer-logo {
  border: 4px solid white;
  height: 150px;
  margin: 1rem 2rem 2rem 2rem;
}


.footer-content {
  justify-content: space-around;
  width: 90%;
  display: flex;
  margin: auto;
  color: white;
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

.links {
  display: flex;
  flex-wrap: wrap;
}


.links ul {
  padding: 1rem;
}


.spacer {
  height: 240px;
  width: 100%;
}

.mid-spacer svg {
  filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.303));
}
