.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-hover {
  cursor: pointer;
}

.logo-img {
  height: 75px;
}

.logo:hover::after {
  content: "Studio";
  font-family: 'Unbounded', sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.nav-links li {
  margin-left: 1rem;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.nav-links li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  cursor: pointer;
}
