.service {
  width: 75%;
  flex: 1;
  max-width: 1000px;
  padding: 1.5rem;
  margin-right: 2rem;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
  animation-delay: 0.5s;
}

.service-header {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.service-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: justify;
}

.services {
  position: relative;
  background-image: url(../../images/svgs/circles.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.services svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.services-title {
  margin: 0rem 0.5rem 0rem 1rem;
}

.service-title {
  font-weight: 500;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 15px;
}


.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem 1rem 0rem;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.service button {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  align-self: flex-start;
}

.service button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
