@import "reset.css";
@import "./components/navbar.css";
@import "./components/banner.css";
@import "./components/svg.css";
@import "./components/services.css";
@import "./components/title-section.css";
@import "./components/footer.css";
@import "./media.css";


:root {
  --green: #7fc29bff;
  --blue: #4d9de0ff;
  --red: #e15554ff;
  --yellow: #e6c74cff;
}
