.banner {
  height: 100vh;
  overflow: hidden;
}

.header-div {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  bottom: 0%;
  left: 0%;
  white-space: nowrap;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.25;
  font-size: 12vw;
  font-family: 'Unbounded', sans-serif;
}
