.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-hover {
  cursor: pointer;
}

.logo-img {
  height: 75px;
}

.logo:hover::before {
  content: "Studio";
  font-family: 'Unbounded', sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
