.bg-image {
  height: 25vh;
}

.paint {
  filter: drop-shadow(15px 0px 4px rgba(0, 0, 0, 0.3));
}

.path {
  fill: none;
  stroke: whitesmoke;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
