.quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}


.about-section {
  /* margin-top: 100vh; */
}

.about {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.about div {
  width: 43%;
  min-width: 300px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}



.animate-slide-in {
  opacity: 1;
  transform: translate(0, 0);
}

#dot {
  mask: url(#circle-mask);
}

#dot-1 {
  fill: var(--red);
}

#dot-2 {
  fill: var(--blue);
}

#dot-3 {
  fill: var(--yellow);
}

#dot-4 {
  fill: var(--green);
}

#svg-circles circle {
  filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.3))
}


.about-section {
  /* clip-path: circle(50% at 50% 50%); */
}

.break {
  min-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
