.quote {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: 3rem 0;
}


.break {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* .about {
  padding: 2rem;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
} */

.about {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.about div {
  width: 43%;
  min-width: 300px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/*
.left {
  opacity: 0;
  transform: translate(-50%,0);
  transition: opacity 2s, transform 3s;
}

.right {
  opacity: 0;
  transform: translate(50%,0);
  transition: opacity 2s, transform 3s;
} */

.animate-slide-in {
  opacity: 1;
  transform: translate(0, 0);
}
