.quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}


.break {
  min-height: 100vh;
  z-index: -2;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}


.about {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.about div {
  width: 43%;
  min-width: 300px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/*
.left {
  opacity: 0;
  transform: translate(-50%,0);
  transition: opacity 2s, transform 3s;
}

.right {
  opacity: 0;
  transform: translate(50%,0);
  transition: opacity 2s, transform 3s;
} */

.animate-slide-in {
  opacity: 1;
  transform: translate(0, 0);
}

#dot-1 {
  fill: var(--red)
}

#dot-2 {
  fill: var(--blue)
}

#dot-3 {
  fill: var(--yellow)
}

#dot-4 {
  fill: var(--green)
}
